Repository attilamester/malflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittests, unittests-image-classification

.pre-commit-config.yaml:

---
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: requirements-txt-fixer
  - repo: local
    hooks:
      - id: unittests
        name: unittests
        entry: bash -c "docker compose up --build malflow_test --exit-code-from malflow_test"
        require_serial: true
        verbose: true
        language: system
        types: [ python ]
        exclude: ^.*/processors/.*$
  - repo: local
    hooks:
      - id: unittests-image-classification
        name: unittests on image classification module
        entry: bash -c "docker compose up --build malflow_image_classification_test --exit-code-from malflow_image_classification_test"
        require_serial: true
        verbose: true
        language: system
        types: [ python ]
        files: ^(.*/processors/cg_image_classification.*)|(.*core/model.*)$

Add pyproject, manifest, licence. Uploaded initial version to test.pypi
  .gitignore
  LICENSE.txt
  MANIFEST.in
  pyproject.toml
  src/malflow/__init__.py
Due: unittests

Update pytorch-example dependency
  src/core/processors/cg_image_classification/download_dependencies.sh
Due: none

Add BODMAS baseline notebook with binary and multiclass classification
  .gitignore
  src/notebooks/bodmas_baseline.GIT-TRACKED.ipynb
  src/notebooks/track_notebooks.sh
Due: none

Add readme packed with instruction decoding from pickle
  src/helpers/readme/__init__.py
  src/helpers/readme/load_instruction.py
Due: unittests

Add new instruction encode: based only on mnemonic
  src/core/model/call_graph_image.py
  src/core/processors/r2_scanner/create_images.py
  src/core/processors/r2_scanner/paths.py
  test/cases/proc_cg_image_classification.py
Due: unittests, unittests-image-classification

Add new instruction encode: based on mnemonic-prefix-bnd Remove decorator for sample-processer --> included in a lower level
  src/core/model/call_graph_image.py
  src/core/processors/r2_scanner/augmentation_metaengine.py
  src/core/processors/r2_scanner/create_images.py
  src/core/processors/r2_scanner/scan_samples.py
  src/core/processors/r2_scanner/unpacker.py
  src/core/processors/util.py
  test/cases/proc_cg_image_classification.py
Due: unittests, unittests-image-classification

Add new hparam: max-items-per-class Fix normalization of images when std is 0 (by using eps)
  src/core/processors/cg_image_classification/README.md
  src/core/processors/cg_image_classification/dataset/dataloader.py
  src/core/processors/cg_image_classification/dataset/dataset.py
  src/core/processors/cg_image_classification/hparams.py
  src/core/processors/cg_image_classification/train_definitions.py
  src/core/processors/r2_scanner/create_images.py
Due: unittests-image-classification

DATA_MAX_ITEM_PER_CLASS
  src/core/processors/cg_image_classification/hparams.py
  src/core/processors/cg_image_classification/train_definitions.py
Due: unittests-image-classification

Fix the image normalization
  src/core/processors/cg_image_classification/dataset/dataloader.py
  src/core/processors/cg_image_classification/dataset/dataset.py
Due: unittests-image-classification

Add ember features as last 24 rows
  src/core/processors/cg_image_classification/dataset/dataloader.py
  src/core/processors/cg_image_classification/dataset/dataset.py
Due: unittests-image-classification

Debug bagnet for linear kernel trial
  src/core/processors/cg_image_classification/nn_model/bagnet.py
  src/core/processors/cg_image_classification/train_definitions.py
  src/util/misc.py
Due: unittests, unittests-image-classification

Add resnet1d model (IMPORTANT: dataloader needs a view(3, -1)). Add hexdump image creation
  src/core/model/call_graph_image.py
  src/core/processors/cg_image_classification/README.md
  src/core/processors/cg_image_classification/nn_model/resnet1d.py
  src/core/processors/cg_image_classification/train_definitions.py
  src/core/processors/r2_scanner/create_images.py
Due: unittests, unittests-image-classification

resnet1d fix
  src/core/processors/cg_image_classification/train_definitions.py
Due: unittests-image-classification

Create simple function block instr. list instead of DFS. Simplify cg processor decorator
  src/core/processors/r2_scanner/create_dfs.py
  src/core/processors/r2_scanner/create_images.py
  src/core/processors/r2_scanner/paths.py
  src/core/processors/r2_scanner/scan_instructions.py
  src/core/processors/r2_scanner/unpacker.py
  src/core/processors/util.py
Due: none

Add HPARAM_SPACE_MODEL_KERNEL_ROWWISE to adapt the bagnet models to row-wise convolution if needed Adapt the loader to resnet1d if needed
  src/core/processors/cg_image_classification/README.md
  src/core/processors/cg_image_classification/dataset/dataloader.py
  src/core/processors/cg_image_classification/hparams.py
  src/core/processors/cg_image_classification/nn_model/bagnet.py
  src/core/processors/cg_image_classification/train_definitions.py
Due: unittests-image-classification

Resnet1d 64 layers 4 blocks
  src/core/processors/cg_image_classification/train_definitions.py
Due: unittests-image-classification

Scanner update for internal flexo files
  src/core/model/function.py
  src/core/model/instruction.py
  src/core/model/sample.py
  src/core/processors/r2_scanner/scan_samples.py
Due: unittests, unittests-image-classification

Add insturction fmt (str format) parser
  src/core/model/instruction.py
  test/cases/instruction.py
Due: unittests, unittests-image-classification

Minor updates + update test to skip if cannot download sample from mbazaar
  src/core/data/malimg.py
  src/core/model/instruction.py
  src/core/processors/r2_scanner/unpacker.py
  src/helpers/mendeley/upload.py
  test/cases/data/instruction_data.py
  test/cases/r2_scanner.py
Due: unittests, unittests-image-classification

Missed this file refactor: moved into malflow
  src/core/processors/cg_image_classification/main.py
Due: unittests-image-classification

release 009
  pyproject.toml
  src/malflow/__init__.py
  src/malflow/core/model/call_graph.py
  src/malflow/core/model/call_graph_image.py
Due: unittests, unittests-image-classification

release 0.0.11: Add CLI tool + documentation Add DFS traversal formatter for LLM prompt Add dump methods (dot, svg, json, yaml)
  .gitignore
  pyproject.toml
  requirements.txt
  src/malflow/README.md
  src/malflow/__init__.py
  src/malflow/__main__.py
  src/malflow/cli.py
  src/malflow/cli/__init__.py
  src/malflow/cli/commands.py
  src/malflow/cli/examples/cli_usage.py
  src/malflow/cli/formatters.py
  src/malflow/cli/main.py
  src/malflow/core/model/call_graph.py
  src/malflow/core/model/call_graph_compressed.py
  src/malflow/core/model/call_graph_image.py
  src/malflow/core/model/function.py
  src/malflow/core/model/instruction.py
  src/malflow/core/model/rva.py
  src/malflow/util/compression/benchmark.py
  src/malflow/util/misc.py
  src/processors/r2_scanner/augmentation_metaengine.py
  src/processors/r2_scanner/create_dfs.py
  src/processors/r2_scanner/create_images.py
  src/processors/r2_scanner/paths.py
  src/processors/r2_scanner/scan_instructions.py
  src/processors/r2_scanner/scan_samples.py
  src/processors/r2_scanner/unpacker.py
  src/processors/util.py
  test/cases/r2_scanner.py
Due: unittests, unittests-image-classification

Adapt to latest Radare 6.0.4 release. Update requirements to latest libs. Add RVA to each instruction. Fix compression bug: missing entrypoints. Fix test cases. Add new build
  Dockerfile
  build/radare2-5.8.8/README.md
  build/radare2-5.8.8/docker-compose.yml
  build/radare2/5.8.8/Dockerfile
  build/radare2/5.8.8/Dockerfile_deb
  build/radare2/5.8.8/requirements.txt
  build/radare2/6.0.4/Dockerfile
  build/radare2/6.0.4/requirements.txt
  build/radare2/README.md
  build/radare2/docker-compose.yml
  requirements.txt
  src/malflow/README.md
  src/malflow/core/model/call_graph.py
  src/malflow/core/model/call_graph_compressed.py
  src/malflow/core/model/instruction.py
  src/malflow/core/model/radare2_definitions/__init__.py
  test/cases/call_graph.py
  test/cases/data/call_graph_data.py
  test/cases/data/instruction_data.py
  test/cases/data/r2_scanner_data.py
  test/cases/r2_scanner.py
Due: unittests, unittests-image-classification

Unify single readme file: root/readme
  MANIFEST.in
  README.md
  src/malflow/README.md
Due: none

Update dependencies
  pyproject.toml
Due: none

Improve DFS summary for LLM input: from 460k chars to 270k (reduced ~40%)
  src/malflow/core/model/call_graph.py
Due: unittests, unittests-image-classification

Release 0.0.14
  pyproject.toml
  src/malflow/__init__.py
Due: unittests

Release 0.0.15
  README.md
  pyproject.toml
  src/malflow/__init__.py
  src/malflow/cli/commands.py
Due: unittests

Update readme
  README.md
Due: none

Add 6.0.4 deb slim image
  build/radare2/6.0.4/Dockerfile_deb
  build/radare2/docker-compose.yml
Due: none
